@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
$fontFamily: "Montserrat", sans-serif;
$fontFamilyMenuButtons: "Montserrat Alternates", sans-serif;
$backgroundColorPrimary: #264653;
$backgroundColorPrimary2: #e76f51;
$secondaryColor: #e9c46a;
* {
  margin: 0px;
}

.background {
  background: linear-gradient(
    $backgroundColorPrimary,
    $backgroundColorPrimary2
  );
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
}
p {
  font-family: $fontFamily;
  font-size: 0.75rem;
  color: black;
  text-align: center;
}

.navBar {
  position: absolute;
  z-index: 2;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  display: inline-grid;
  grid-template-columns: 25% 50% 25%;
  width: 100%;
}
.headerButtonContainer {
  grid-column-start: 3;
  grid-column-end: 3;
  justify-self: end;
}
.name {
  grid-column-start: 2;
  grid-column-end: 2;
  justify-self: center;
}
h1,
h4 {
  font-family: $fontFamily;
}
button {
  font-family: $fontFamilyMenuButtons;
  font-weight: bolder;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  background: transparent;
  margin: 0.5rem;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $secondaryColor;
    transform-origin: center;
    transition: transform 0.25s ease-out;
  }
  &:hover:after {
    transform: scaleX(1);
    transform-origin: center;
  }
  &:hover {
    color: $secondaryColor;
  }
}
.planetCard {
  width: 100% !important;
  height: 80vh !important;
}
